body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
}

.container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 4px;
}

h1 {
	text-align: center;
	color: #333;
}

input {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #008080;
	color: #fff;
	border: none;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

input[type='checkbox'],
input[type='radio'] {
	display: inline-block;
	width: auto;
	margin-right: 5px;
}

button:hover {
	background-color: #005353;
}

.signup-link {
	text-align: center;
	margin-top: 10px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
}
